body {
    background-color: #f4f4f9;
  }
  
  .container h1 {
    color: #333;
  }
  
  .btn {
    font-weight: bold; /* Makes text inside buttons bold */
  }
  .profile-image-wrapper {
    position: relative;
    display: inline-block;
}

.nav-link:hover {
  text-decoration: underline;
  color: #007bff; /* Bootstrap primary color, or choose your own */
}
